/* ============================================================================
   BASE -> base
   ========================================================================= */


body{
	color: set-color('text');
	background-color: set-color('background');
}

[disabled]{
	pointer-events: none;
}