/* ============================================================================
   UTILS / helpers
   ========================================================================= */

/**
 * clearfix
 */

.h-clearfix{
	@extend %clearfix;
}


/**
 * background
 */

.h-bg-cover{
	@extend %bg-cover;
}
.h-bg-contain{
	@extend %bg-contain;
}


/**
 * color
 */

.h-color-white{				color: #fff !important;}
.h-color-black{				color: #000 !important;}
.h-color-primary{ 		color: $color-primary !important; }
.h-color-secondary{ 	color: $color-secondary !important; }
.h-color-text{ 				color: $color-text !important; }
.h-color-subtext{ 		color: $color-subtext !important; }

.h-bg-color-white{			background-color: #fff !important;}
.h-bg-color-black{			background-color: #000 !important;}
.h-bg-color-primary{ 		background-color: $color-primary !important; }
.h-bg-color-secondary{ 	background-color: $color-secondary !important; }


/**
 * shadow
 */

.h-shadow-1{	box-shadow: 0 1px 3px 0 rgba(#000,.08); }
.h-shadow-2{	box-shadow: 0 2px 5px 0 rgba(#000,.12); }
.h-shadow-3{	box-shadow: 0 3px 8px 0 rgba(#000,.16); }
.h-shadow-4{	box-shadow: 0 4px 10px 0 rgba(#000,.2); }


/**
 * ratio box
 */

.h-ratio{
	position: relative;
	display: block;
	&:after {
	  content: "";
	  display: block;
	  padding-bottom: 100%;
	}
	&__inner{
  	display: block;
		position: absolute;
  	top: 0; left: 0; right: 0; bottom: 0;
	}

	&--r31{ 	&:after { padding-bottom: 33.3333%; }}
	&--r13{ 	&:after { padding-bottom: 300%; }}

	&--r32{ 	&:after { padding-bottom: 66.6666%; }}
	&--r23{ 	&:after {	padding-bottom: 150%; }}

	&--r21{ 	&:after {	padding-bottom: 50%; }}
	&--r12{ 	&:after { padding-bottom: 200%; }}

	&--r169{ 	&:after { padding-bottom: 56.25%; }}
	&--r916{ 	&:after { padding-bottom: 178%; }}
}


/**
 * image
 */

.h-img-cover{
	object-fit: cover;
}


/**
 * font & text
 */

.h-text-oneline{
	@include ellipsis-one();
}
.h-fs-normal{
	font-style: normal !important;
}
.h-fs-italic{
	font-style: italic !important;
}



/**
 * form
 */

.h-resize-none{
	resize: none !important;
}

.h-outline-none{
	&,
	&:hover,
	&:active,
	&:focus,
	&:visited{
		outline: none;
	}
}

