/* ============================================================================
   LAYOUT -> guide
   ========================================================================= */

.l-guide{
	margin: 0 0 4rem;
	&__header{
		padding: 1rem;
		background-color: $c--grey-200;
	}
	&__title{
		margin: 0;
		font-weight: 300;
		font-size: 2.5rem;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: $c--grey-600;
	}
	&__content{
		margin: 4rem 0 0;
	}
}
