/* ============================================================================
   COMPONENTS -> breadcrumb
   ========================================================================= */


.c-breadcrumb{
	@extend %list-reset;
	font-size: 0;
	&__item{
		display: inline-block;
		vertical-align: top;
		line-height: 16px;
		font-size: $g-fz--xs;
		color: material-color('grey','400');
		& + &{
			&:before{
				content: "/";
				display: inline-block;
				vertical-align: top;
				line-height: 16px;
				padding: 0 .625rem;
				font-size: $g-fz--xxs;
				color: material-color('grey','300');
			}
		}
		a{
			display: inline-block;
			line-height: 16px;
			vertical-align: top;
			font-size: $g-fz--xs;
			color: material-color('grey','600');
			&:hover{
				color: $g-c-primary;
			}
		}
	}
}